// Colors

$black: #000;
$gray: #666;
$light-gray: #c2c2c2;
$light-gray-classic: #ccc;
$very-light-gray-mostly-white: #f9f9f9;
$very-light-gray: #f0f0f0;  //#f2f2f2, #ddd
$white: #fff;

$red: #f30;
$yellow: #ff0;

$vivid-orange: #f4a124;
$vivid-orange-heavy: #f2960c;

$dark-moderate-blue-heavy: #2f5279;
$dark-moderate-blue: #3d5b7f;
$mostly-desaturated-dark-blue: #6786a8;
$blue: #496D99;
$soft-blue: #4c98df;
$very-soft-blue: #b3d4fc;